.container {
    cursor: pointer;
    padding-right: 1rem;
}

.img {
    width: 2.2rem;
    height: 2.2rem;
}

.profileText {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
    .container {
        cursor: pointer;
        padding-right: 1rem;
        margin-top: 0.4rem;
    }
}